@model List<MVCPro.Models.StudentModel>

<h2>Student Details</h2>

@if (Model.Count == 0)
{
    <p>No students created yet.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Age</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var student in Model)
            {
                <tr>
                    <td>@student.StudentId</td>
                    <td>@student.Name</td>
                    <td>@student.Age</td>
                    <td>@student.Email</td>
                </tr>
            }
        </tbody>
    </table>
}